version: '3.8'

services:
  bedrock-access-gateway:
    build:
      context: ./src
      dockerfile: Dockerfile_ecs
    ports:
      - "127.0.0.1:8000:8080"
    environment:
      - ENABLE_PROMPT_CACHING=true
      - API_KEY=${OPENAI_API_KEY}
      - AWS_PROFILE
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
    volumes:
      - ${HOME}/.aws:/home/appuser/.aws
